@import "../App.scss";

.category-index {
    background: #f2f3f5;

    .flex-side-menu {
        .content {
            width: 250px;
            background: #fff;

            .custom-dropdown {
                .dropdown-header {
                    padding: 10px;
                    padding-left: 15px;
                    cursor: pointer;
                    background: #fff;

                    h6 {
                        color: #000;
                        font-weight: 900;
                        font-size: 15px;
                        margin-top: 4px;
                        text-transform: uppercase;
                        font-family: 'Roboto', sans-serif;
                    }

                    .angle-icon {
                        transition: 0.3s all;
                    }

                    .rotate {
                        transform: rotate(90deg);
                    }
                }

                .dropdown-body {
                    padding: 10px;
                    padding-left: 15px;
                    background: #fff;
                    transition: 0.4s all;

                    .menu {
                        .btn {
                            font-size: 14px;
                            border-radius: 3px;
                            padding-left: 8px;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            text-transform: capitalize;
                            font-family: 'Roboto', sans-serif;
                            margin-bottom: 1px;
                            background: #dfdfdf;

                            .angle-icon {
                                transition: 0.3s all;
                            }

                            .rotate {
                                transform: rotate(90deg);
                            }
                        }

                        .menu-child {
                            padding: 5px 0px;

                            a {
                                color: #555;
                                display: block;
                                padding: 5px 0px;
                                padding-left: 5px;
                                margin-left: 5px;
                                text-decoration: none;
                                font-weight: 200;
                                font-size: 13px;
                                border-radius: 3px;
                                text-transform: uppercase;
                                font-family: 'Roboto', sans-serif;
                            }

                            a:hover {
                                color: #000;
                                background: #dfdfdf;
                            }

                            .is-active {
                                color: #000;
                                background: #dfdfdf !important;
                            }
                        }
                    }
                }
            }

            .colors {
                .btn {
                    padding: 15px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .flex-main-menu {
        .null-content {
            width: 270px;
            height: 270px;
            background: #fff;
            overflow: hidden;
            margin: auto;

            @media (min-width: 576px) {
                width: 350px;
                height: 350px;
            }

            img {
                height: 140px;

                @media (min-width: 576px) {
                    height: 200px;
                }
            }

            .btn {
                font-size: 14px;
                background: $secondary-color;
            }
        }

        .main-content {
            .product-sort {
                padding-left: 25px;

                .form-control {
                    width: 200px;
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    padding-left: 5px;
                    padding-right: 10px;
                    font-family: 'Roboto', sans-serif;
                    border: 0;
                }

                @media (min-width: 992px) {
                    padding-left: 35px;
                }
            }

            .load-more-btn {
                display: inline-block;
                padding: 8px 35px;
                color: #000;
                border-radius: 25px;
                transition: all .3s;
                position: relative;
                overflow: hidden;
                z-index: 1;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                border: 1px solid #dfdfdf;
                margin-top: 20px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: none;
                    border-radius: 0px;
                    z-index: -2;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: $primary-color;
                    transition: all .3s;
                    border-radius: 0px;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
