@import "../App.scss";

.latest-product {
    padding-bottom: 50px;

    h1 {
        color: #000;
        font-weight: 900;
        font-size: 27px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

        @media (min-width: 576px) {
            font-size: 40px;
        }
    }

    .product-slider {
        position: relative;

        .card {
            .card-body {
                padding: 5px;

                .img-box {
                    overflow: hidden;
                    height: 200px;
                    position: relative;

                    img {
                        min-width: 100%;
                        height: 100%;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        background: rgba(0, 0, 0, 0.452);

                        .btn {
                            font-size: 13px;
                            font-weight: 700;
                            color: #000;
                            border-radius: 3px;
                            padding: 5px 10px;
                            background: $primary-color;
                            font-family: 'Roboto', sans-serif;
                            transition: 0.2s all;
                            border-radius: 3px;
                            opacity: 0;
                        }
                    }

                    .overlay:hover .btn {
                        opacity: 1;
                    }

                    @media (min-width: 576px) {
                        height: 200px;
                    }

                    @media (min-width: 768px) {
                        height: 230px;
                    }

                    @media (min-width: 992px) {
                        height: 250px;
                    }
                }

                .footer {
                    a {
                        padding: 10px;
                        display: block;
                        text-decoration: none;

                        p {
                            margin-bottom: 0;
                            font-size: 15px;
                        }

                        .name {
                            color: #555;
                            font-weight: 300;
                            transition: 0.4s all;
                            font-family: 'Roboto', sans-serif;
                        }

                        .price {
                            color: #000;
                            font-weight: 700;
                            font-family: 'Roboto', sans-serif;
                        }
                    }

                    a:hover .name {
                        color: $secondary-color;
                    }
                }
            }
        }

        .prev-btn {
            position: absolute;
            top: 45%;
            left: 8px;
            padding: 0px 1px;
            background: $primary-color;

            @media (min-width: 576px) {
                left: -15px;
            }

            @media (min-width: 992px) {
                left: -30px;
            }
        }

        .next-btn {
            position: absolute;
            top: 45%;
            right: 8px;
            padding: 0px 1px;
            background: $primary-color;

            @media (min-width: 576px) {
                right: -15px;
            }

            @media (min-width: 992px) {
                right: -30px;
            }
        }
    }

    @media (min-width: 576px) {
        padding-bottom: 80px;
    }
}
