@import "../App.scss";

.custom-product-modal {
    .modal-content {
        border: 0;
        border-radius: 0px;

        .modal-body {
            padding: 25px;

            h5 {
                font-weight: 900;
                font-family: 'Roboto', sans-serif;
            }

            p {
                font-weight: 300;
                font-size: 15px;
                line-height: 1.5rem;
                font-family: 'Roboto', sans-serif;
            }

            .btn {
                color: #000;
                background: $primary-color;
                font-weight: 900;
                font-size: 14px;
                border-radius: 0px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}
