@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100,300,400,500,700,900&display=swap");

// $primary-color: #ffc107;
$primary-color: #fde50c;
$secondary-color: #01028f;

/* Flex Box */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

// Global Product Card Design
.product-card {
    border: 0;
    background: none;
    float: left;

    .card-body {
        padding: 0;
        background: #fff;

        .img-box {
            width: 100%;
            overflow: hidden;
            position: relative;
            height: 200px;

            img {
                min-width: 100%;
                min-height: 100%;
            }

            .action-buttons {
                .shopping-bag-btn {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 34px;
                    height: 34px;
                    z-index: 3;
                    padding: 4px 8px;
                    background: #fff;
                    transition: 0.4s all;
                }

                .wish-list-btn {
                    position: absolute;
                    bottom: 15px;
                    right: 60px;
                    width: 34px;
                    height: 34px;
                    z-index: 3;
                    padding: 4px 8px;
                    background: #fff;
                    transition: 0.4s all;
                }

                .btn:hover {
                    color: $primary-color;
                    background: #000;
                }
            }

            .overlay {
                position: absolute;
                bottom: 0%;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(0, 0, 0, 0.452);

                .quick-view {
                    .btn {
                        font-size: 13px;
                        font-weight: 700;
                        color: #000;
                        font-family: 'Roboto', sans-serif;
                        padding: 5px 10px;
                        background: $primary-color;
                        transition: 0.2s all;
                        border-radius: 3px;
                        opacity: 0;
                    }
                }
            }

            .overlay:hover .quick-view .btn {
                opacity: 1;
            }

            @media (min-width: 576px) {
                height: 200px;
            }

            @media (min-width: 700px) {
                height: 230px;
            }

            @media (min-width: 992px) {
                height: 250px;
            }
        }

        .product-card-footer {
            padding: 8px;

            .name {
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 0;
                font-family: 'Roboto', sans-serif;
            }

            .price {
                color: #000;
                font-size: 14px;
                font-weight: 900;
                margin-bottom: 0;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

    @media (max-width: 576px) {
        padding: 10px;
        width: 50%;
    }

    @media (min-width: 576px) {
        padding: 15px;
        width: 33.33%;
    }

    @media (min-width: 768px) {
        padding: 10px;
        width: 25%;
    }

    @media (min-width: 992px) {
        padding: 20px;
        width: 33.33%;
    }

    @media (min-width: 1150px) {
        padding: 20px;
        width: 25%;
    }

    @media (min-width: 1450px) {
        padding: 20px;
        width: 20%;
    }
}

.topselling-card {
    @media (min-width: 1150px) {
        padding: 20px;
        width: 20%;
    }
}

// End Product Crad design

// Spin Icon
.spin {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
